<div class="card my-5">
    <div class="card-body">
      <form mathod="post" (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="product.name" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Enter your name"
            required #name="ngModel">
        </div>
        <div class="form-group">
            <label for="qty">Quantity</label>
            <input type="text" [(ngModel)]="product.quantity" 
              class="form-control" 
              id="qty" 
              name="qty" 
              placeholder="Enter qty"
              required #name="ngModel">
          </div>
          <div class="form-group">
            <label for="desc">description</label>
            <input type="text" [(ngModel)]="product.description" 
              class="form-control" 
              id="desc" 
              name="desc" 
              placeholder="Enter desc"
              required #name="ngModel">
          </div>
          <div class="form-group">
            <label for="discountid">discountid</label>
            <input type="text" [(ngModel)]="product.discountid" 
              class="form-control" 
              id="discountid" 
              name="discountid" 
              placeholder="Enter discountid"
              required #name="ngModel">
          </div>
          <div class="form-group">
            <label for="catagoryid">catagoryid</label>
            <input type="text" [(ngModel)]="product.categoryid" 
              class="form-control" 
              id="catagoryid" 
              name="catagoryid" 
              placeholder="Enter catagoryid"
              required #name="ngModel">
          </div>
          
        
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" [(ngModel)]="product.price" 
            class="form-control" 
            id="price" 
            name="price" 
            placeholder="Enter price"
            required #email="ngModel">
          
        </div>
        <button type="submit" [disabled]="!userForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
