
<footer class="bg-info text-center text-white">
 
  <div class="container p-4">
   
    <section class="mb-4">
     
      <a class="btn btn-info btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

     
      <a class="btn btn-success btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

     
      <a class="btn btn-secondary btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      
      <a class="btn btn-danger btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

     
      <a class="btn btn-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      
      <a class="btn btn-info btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    

   
    <section class="">
      <form action="">
        
        <div class="row d-flex justify-content-center">
         
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
        
          <div class="col-md-4 col-12">
            
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
        
          <div class="col-auto">
           
            <button type="submit" class="btn btn-danger mb-4  ">
              Subscribe
            </button>
          </div>
         
        </div>
        
      </form>
    </section>
    <section class="">
    
      <div class="row">
       
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase bg-dark"><h2>ABOUT US</h2></h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" ><h4 style="color: #010d17f2;">Location</h4></a>
            </li>
            <li>
              <a href="#!"  ><h4 style="color:rgba(51, 49, 47, 0.934)">Sitemap</h4></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-white bg-dark"><h2>LEGAL</h2></h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" style="color:rgb(51, 49, 47)"><h4>Privacy policy</h4></a>
            </li>
            <li>
              <a href="#!"  ><h4 style="color: rgba(1, 13, 23, 0.888);"> Return Policy</h4></a>
            </li>
           </ul>
        </div>
       


        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="bg-dark text-white" ><h2>HELP</h2></h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="fw-normal" ><h4 style="color:rgb(51, 49, 47)">FAQ</h4></a>
            </li>
            <li>
              <a href="#!" class="fw-normal" ><h4 style="color:rgb(51, 49, 47)">Order Issue</h4></a>
            </li>

          </ul>
        </div>
       
      </div>
     
    </section>
   
  </div>
 
  <div class="text-center p-3" style="background-color: rgba(1, 13, 23, 0.888);">
    &copy; 2020 Copyright:
    <a class="text-white" href="#!">Shopforhome-Batch-3 from c4 wipro velocity Intenship Batch</a>
  </div>
 
</footer>
