<section class="vh-100">
    <div class="container-fluid h-custom">
        
      <div class="row d-flex justify-content-center align-items-center h-100">
        
        <div class="col-lg-3  ">
          <img src="https://img.freepik.com/free-vector/purchasing-habits-abstract-concept_335657-2995.jpg?w=740&t=st=1659848558~exp=1659849158~hmac=8741506cf3ff7adea0233e4813881e32fa65af62f88745e592bceac16ce8f634"
            class="img-fluid" alt="Sample image" style="border-radius:15px">
        </div>
        <div class="col-md-8 col-lg-7  offset-xl-1 bg-info text-center" style="border-radius:15px;width:600px;height:500px">
          <br/>
            <h2 class="text-center">Sign In</h2><br/><br/>
          <form #logdata="ngForm" (ngSubmit)="loginUser()">
            
            <div class="form-outline mb-4 ">
                <label class="form-label" for="form3Example3"><h3>Username</h3></label>
              <input type="text" id="form3Example3" class="form-control form-control-lg"
                placeholder="Email or Phone or Username" name="username" [(ngModel)]=info.username/>
            </div>
  
           
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4"><h3>Password</h3></label>
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Password" name="password" [(ngModel)]=info.password/>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a [routerLink]="['/signup']"
                  class="link-danger">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>

  </section>